<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <img src="static/Design/logo_blanc.png" alt="Logo" id="logo">
        <img src="static/Design/wildaware-high-resolution-color-logo.png" alt="Header Image">
    </header>
    <div class="center-column">
        <div id="camera-preview"></div> 
        <button type="button" onclick="startCamera()">Start Camera</button> 
        <button type="button" onclick="Capture()">Predict Picture</button>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" id="file-input" name="file">
            <button type="button" onclick="sendFileInput()">Predict File</button>
        </form>
    </div>
    <div id="image-info" style="display: none;">
        <h2>Image Information</h2>
        <div id="image-container"></div>
        <table id="info-table">
            <thead>
                <tr>
                    <th>Result</th>
                    <th>Espece</th>
                    <th>Description</th>
                    <th>Nom latin</th>
                    <th>Famille</th>
                    <th>Taille</th>
                    <th>Région</th>
                    <th>Habitat</th>
                    <th>Fun fact</th>
                </tr>
            </thead>
            <tbody id="info-table-body"></tbody>
        </table>
    </div>

    <script src="static/script.js"></script>
</body>
</html>
